{{ partial "head.html" . }}

<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
        {{ partial "page.html" . }}
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
