{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "header.html" . }}

    <section id="main" class="outer">
        <section class="archives-wrap">
            <div class="archive-category-wrap">
                <span class="archive-category">{{ .Title }}</span>
            </div>
            <div class="archives">              
               
{{ range .Data.Pages.GroupByDate "2006" }}
<h3>{{ .Key }}</h3>
<ul id="archive-list">
    {{ range .Pages }}
    <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a> - 
    <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
    </li>
    {{ end }}
</ul>
{{ end }}        
   
        </div></section>
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
