    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper">
            <article class="post h-entry">
                <header>
                    <h1 class="p-name">
                        {{ .Title }}
                    </h1>
                    <h2 class="headline">
                    <time style="display:none" class="dt-published">{{ .Date }}</time>
                    <span style="display:none" class="u-url">{{ .Permalink }}</span>
                    by <a rel="author" class="p-author h-card" href="/">Jack Baty</a> on {{ .Date.Format "Jan 2, 2006" }}
                    
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                       Tags:   {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h2>
                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section id="post-body" class="e-content">
                    {{ .Content }}
                </section>
            </article>

            {{ if .Site.Params.enableGithubIssuesTips }}
                {{ partial "github-issues-tip.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDuoshuo }}
                {{ partial "duoshuo.html" . }}
            {{ end }}
            
            <nav id="article-nav">
    {{ if .Prev }}
    <a href="{{ .Prev.RelPermalink }}" id="article-nav-older" class="article-nav-link-wrap">
        <div class="article-nav-title">
            {{ .Prev.Title }} <span class="arrow">→</span>
        </div>
    </a>
    {{ end }}
    {{ if .Next }}
    <a href="{{ .Next.RelPermalink }}" id="article-nav-newer" class="article-nav-link-wrap">
        <div class="article-nav-title"><span class="arrow">←</span> {{ .Next.Title  }}</div>
    </a>
    {{ end }}
</nav>
            

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
