<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ .Hugo.Generator }}
		<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
		<link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico">
		
		<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}apple-touch-icon.png">
	  	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicon-32x32.png" sizes="32x32">
	  	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicon-16x16.png" sizes="16x16">
	  	<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
	  	<link rel="mask-icon" href="{{ .Site.BaseURL }}safari-pinned-tab.svg" color="#5bbad5">
	  	<!-- IndieWeb -->
	  	<link rel="webmention" href="https://webmention.io/baty.net/webmention" />
    	<link rel="me" href="https://twitter.com/jackbaty" />
    	<link href="https://micro.blog/jack" rel="me" />
		
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css?20171007">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.css?20171007">
		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
		{{ end }}

		{{ if eq .Site.Params.iconFont "font-awesome" }}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css">
		{{ else }}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/monosocialiconsfont.css">
		{{ end }}

		{{ if .Site.Params.enableRSS }}
		<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}
		
		<link rel="dns-prefetch" href="//piwik.baty.net">
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.baty.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
	</head>
