<nav id="post-nav">
    {{ if or (.Paginator.HasNext) (.Paginator.HasPrev) }}
        {{ if .Paginator.HasNext }}
        <span class="prev">
            <a href="{{.Paginator.Next.URL}}">
                <span class="arrow">←</span> {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}Older Posts{{ end }}
            </a>
        </span>
        {{ end }}
        {{ if .Paginator.HasPrev }}
        <span class="next">
            <a href="{{.Paginator.Prev.URL}}">
                {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}Newer Posts{{ end }} <span class="arrow">→</span>
            </a>
        </span>
        {{ end }}
    {{ end }}
</nav>