<ul id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}
        {{ if .Title }}
            <li>
                <a href='{{ .Permalink }}'><aside class="dates">{{ .Date.Format "Jan 2" }}</aside></a>
                <a href='{{ .Permalink }}'>
                    {{ .Title }} <h2>{{ .Description | markdownify }}</h2>
                </a>
            </li>
        {{ end }}
        {{ end }}
    {{ end }}
</ul>
