<div id="social">
{{ if eq .Site.Params.iconFont "font-awesome" }}
	{{ range $key, $val := .Site.Social }}
    <a class="symbol" href="{{ $val }}">
        <i class="fa fa-{{ $key }}"></i>
    </a>
    {{ end }}

{{ else }}
	
	{{ $iconStyle := .Site.Params.socialIconStyle }}
    {{ range $key, $val := .Site.Social }}
    <a class="symbol" href="{{ $val }}">
        {{ $iconStyle }}{{ if eq $key "twitter" }}twitterbird{{ else }}{{ $key }}{{ end }}
    </a>
    {{ end }}

{{ end }}
</div>
