    <div id="duckduckgo" >
    <form method="get" id="search" action="https://duckduckgo.com/">
        <input type="hidden" name="sites" value="baty.net"/>
        <input type="text" name="q" id="searchbox" maxlength="255" placeholder="Search&hellip;"/>
        <input type="submit" id="searchbutton" value="Search"  />
    </form>
	</div>

<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; {{ now.Format "2006"}} {{ or .Site.Params.author .Site.Title }}&nbsp;
            Powered by <a href="https://gohugo.io" target="_blank">Hugo</a>. Design based on <a href="https://github.com/carsonip/hugo-theme-minos">Minos</a>
        </div>
    </div>
    {{ template "_internal/google_analytics_async.html" . }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/tomorrow-night.min.css" integrity="sha256-2wL88NKUqvJi/ExflDzkzUumjUM73mcK2gBvBBeLvTk=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js" integrity="sha256-KbfTjB0WZ8vvXngdpJGY3Yp3xKk+tttbqClO11anCIU=" crossorigin="anonymous"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{ if .Site.Params.Katex }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha256-ExtbCSBuYA7kq1Pz362ibde9nnsHYPt6JxuxYeZbU+c=" crossorigin="anonymous"></script>
        <script>renderMathInElement(document.body);</script>
    {{ end }}
    <script>
        document.getElementById('main-nav-toggle').addEventListener('click', function () {
            var header = document.getElementById('header');
            if (header.classList.contains('mobile-on')) {
                header.classList.remove('mobile-on');
            } else {
                header.classList.add('mobile-on');
            }
        });
    </script>
    
<section style="display: none;" class="h-card vcard">
        <ul>
            <li class="p-name fn">
                <span class="p-given-name given-name">Jack</span> <span class="p-family-name family-name">Baty</span>
            </li>
            <li class="p-nickname nickname">
                jackbaty
            </li>        
            <li>
                <ul class="p-org h-card org">
                    <li>
                        <a class="p-name u-url p-organization-name organization-name" href="https://joelpurra.com/">baty.net</a>
                    </li>
                     <li>
                        <img src="/img/jack-portrait-200x200.jpg" alt="baty.net" class="u-logo logo" />
                     </li>
                </ul>
            </li>
            <li>
                <a class="u-email email" href="mailto:jack@baty.net">jack@baty.net</a>
            </li>
            <li>
                <a class="u-url url" href="https://baty.net/">baty.net</a>
            </li>
            <li class="p-note note">
                Partner at Fusionary Media since 1995. Loves all things analog.
            </li>
            <li>
                <img src="/img/jack-portrait-200x200.jpg" alt="Jack Baty" title="Jack Baty" class="u-photo photo" />
            </li>
        </ul>
    </section>

    
    
</footer>
