<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ else }} - The personal weblog of Jack Baty{{ end }}</title>

    {{ partial "meta.html" . }}
    {{ partial "og.html" . }}

    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link rel="shortcut icon" href="/favicon.png">

    <link href="{{ .Site.BaseURL }}webfonts/ptserif/main.css" rel='stylesheet' type='text/css'>
    <link href="{{ .Site.BaseURL }}webfonts/source-code-pro/main.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css">

    <link href="http://gmpg.org/xfn/11" rel="profile">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
	  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	  <link rel="manifest" href="/manifest.json">
	  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	  <!-- IndieWeb -->
	  <link rel="webmention" href="https://webmention.io/baty.net/webmention" />
    <link rel="me" href="https://twitter.com/jackbaty" />
    <link href="https://micro.blog/jack" rel="me" />

    {{ .Hugo.Generator }}
    <link rel="dns-prefetch" href="//piwik.baty.net">
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.baty.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
</head>
