	{{ partial "head.html" . }}
	<body>
    {{ partial "nav.html" . }}

    {{ partial "profile.html" . }}

    <section id="wrapper" class="home">
        {{ partial "post-list.html"  . }}
        {{ partial "pagination.html" . }}
        {{ partial "footer.html"     . }}
        <section style="display: none;" class="h-card vcard">
        <ul>
            <li class="p-name fn">
                <span class="p-given-name given-name">Jack</span> <span class="p-family-name family-name">Baty</span>
            </li>
            <li class="p-nickname nickname">
                jackbaty
            </li>        
            <li>
                <ul class="p-org h-card org">
                    <li>
                        <a class="p-name u-url p-organization-name organization-name" href="https://baty.net/">baty.net</a>
                    </li>
                     <li>
                        <img src="/img/jack-portrait-200x200.jpg" alt="baty.net" class="u-logo logo" />
                     </li>
                </ul>
            </li>
            <li>
                <a class="u-email email" href="mailto:jack@baty.net">jack@baty.net</a>
            </li>
            <li>
                <a class="u-url url" href="https://baty.net/">baty.net</a>
            </li>
            <li class="p-note note">
                Partner at Fusionary Media since 1995. Loves analog.
            </li>
            <li>
                <img src="/img/jack-portrait-200x200.jpg" alt="Jack Baty" title="Jack Baty" class="u-photo photo" />
            </li>
        </ul>
    </section>

    </section>

    {{ partial "js.html" . }}
    </body>
</html>
